@tailwind base;
@tailwind components;
@tailwind utilities;

/* only for this app */

.content--1 {
  background-color: white;
  padding: 20px;
  color: black;
}

.content--2 {
  background-color: rgb(59 130 246);
  padding: 20px;
  color: white;
}

.subContent--1 {
  padding: 10px;
  background-color: white;
  color: black;
}

.subContent--2 {
  padding: 10px;
  background-color: rgb(34 197 94);
  color: white;
}
